<%= form_for @quest, url: url do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<h2>Feladatok</h2>
	<%= f.nested_fields_for :tasks do |task| %>
		<p>
			<%= task.remove_nested_fields_link "Feladat törlése" %>
		</p>
		<p>
			<%= task.label :description %>
			<%= task.text_area :description %>
		</p>
		<p>
			Esemény (opcionális): <%= task.collection_select :event_id, Event.all, :id, :long_name, include_blank: true %>
		</p>
	<% end %>
	<p>
		<%= f.add_nested_fields_link :tasks, "Új feladat hozzáadása" %>
	</p>
	<h2>Előfeltételek</h2>
	<%= f.nested_fields_for :dependencies do |dep| %>
		<p>
			 <%= dep.collection_select :id, ::Quests::Quest.all, :id, :title %> - <%= dep.remove_nested_fields_link "Törlés" %>
		</p>
	<% end %>
	<p>
		<%= f.add_nested_fields_link :dependencies, "Új előfeltétel választása" %>
	</p>

	<%= f.submit submit_text %>

<% end %>