<h1>Küldetés módositása</h1>
<%= react_component("QuestForm", quest.to_react_data.merge({all_quests: all_quests,
                                                            formUrl: "/quests/#{quest._id.to_s}",
                                                            formMethod: "put",
                                                            authenticity_token: form_authenticity_token})) %>

<%= link_to(I18n.t('labels.general.cancel'), quest_path(quest)) %>