<h1>Küldetések</h1>
<ol>
	<% @quests.each do |q| %>
		<li>
			<%= link_to q.title, quest_path(q) %> - <%= link_to "Módositás", edit_quest_path(q) %>, <%= link_to "Törlés", quest_path(q),
						method: :delete,
						data: { confirm: "Biztosan törölni szeretnéd ezt a küldetést?" } %>
		</li>
	<% end %>
</ol>