<h1>Új küldetés</h1>
<%= react_component("QuestForm", quest.to_react_data.merge({all_quests: all_quests,
                                                            formUrl: "/quests",
                                                            formMethod: "post",
                                                            authenticity_token: form_authenticity_token})) %>
<%= link_to(I18n.t('labels.general.back'), quest_manager_path) %>