<h2><%= @quest.title %></h2>
<p>
	<%= link_to(I18n.t('labels.general.edit'), edit_quest_path(@quest)) %>
</p>
<span>Leirás:</span>
<p>
	<%= @quest.description %>
</p>
<h3>Feladatok</h3>
<ol>
	<% @quest.tasks.each do |t| %>
		<li>
			<p>
				<%= t.description %>
			</p>
			<% unless t.event.nil? %>
				<p>
					Kapcsolódó esemény: <%= link_to t.event.long_name, event_path(t.event) %>
				</p>
			<% end %>
		</li>
	<% end %>
</ol>
<h3>Előkövetelmények</h3>
<ul>
	<% @quest.dependencies.each do |d| %>
		<li>
			<p>
				<%= d.title %>
			</p>
		</li>
	<% end %>
</ul>