$("#name_input").val("");
$('#user').empty();
$("#error").text("");

<% if user %>
  $(".user_id").val("<%= user._id %>");

  var name_tag = $("<p><span>Name:</span><span id='username'><%= j link_to(user.username, user_path(user)) %></span>");
  var edit_link = $("<%= j link_to("Edit user", edit_user_path(user)) %></p>")
  var xp_tag = $("<p><span>Xp:</span><span id='xp'><%= user.xp %></span></p>");
  var credit_tag = $("<p><span>Credit:</span><span id='credit'><%= user.credit %></span></p>");
  $('#user').append(name_tag, edit_link, xp_tag, credit_tag);
<% else %>
  $('#error').text("User '<%= name %>' not found");
<% end %>