<h1>Manage users</h1>

<h2>Select user</h2>
<%= form_tag(get_user_path, remote: true) do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username, "", {id: "name_input"}) %>
    <%= submit_tag("Get user") %>
<% end %>

<p id="user"></p>

<div id = "modifiers">
  <h2>Adjusting credit</h2>
  <%= form_tag(adjust_credit_path, remote: true) do %>
    <%= hidden_field_tag(:credit_user_id, "", {class: "user_id"}) %>
    <%= label_tag(:amount, "Credit") %>
    <%= text_field_tag(:amount, "", {id: "credit_input"}) %>
    <%= submit_tag("Add credit") %>
  <% end %>
</div>

<%= link_to(I18n.t('labels.general.back'), hq_path) %>