<%= form_for comment, url: new_comment_path(presenter.event), html: {class: "form form-horizontal"}, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :text, class: "sr-only" %>
    <%= f.text_area :text, id: "comment_body", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Kommentelek", class: "pc-button pc-teal" %>
  </div>
<% end %>