<div id="comment_<%= comment._id %>">
	<%= comment.commenter.username %> - <%= l comment.posted %>
	<% if me? comment.commenter %>
		- <%= link_to(I18n.t('labels.general.delete'), destroy_comment_path(event, comment), method: :delete, remote: true) %>
	<% end %>
	<p>
		<%= comment.text %>
	</p>
</div>