<% if @changed == :added %>
	if($("#comments > :first-child").is("p"))
	{
		$("#comments").children().remove()
	}

	var comment = $("<%= escape_javascript(render(partial: 'comments/show', locals: {event: @event_id, comment: @comment})) %>")
	$("#comments").append(comment)
	$("#comments").append("<hr>")
	$("#comment_body").val("")
<% end %>