<% if @changed == :deleted %>
	var comment = $("#comment_<%= @comment_id %>")
	comment.next().remove() // remove the <hr> element after the comment.
	comment.remove()
<% end %>

var comments_div = $("#comments")
if(comments_div.children().length == 0)
{
	comments_div.append('<p class="event-notice">Még nincsenek hozzászólások. Légy Te az első, aki hozzászól!</p>')
}