<h1 class="page-header"><%= presenter.partner.name %> profilja (Partner)</h1>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Leírás</h3>
  </div>
  <div class="panel-body">
    <%= presenter.partner.description %>
    <div class="row">
      <div class="col-sm-2">Értékelés</div>
      <div class="col-sm-5">
        <%= render(partial: "ratings/show_rating", locals: {rating: presenter.rating}) %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Eseményei<%= presenter.is_owner ? "m" : ""%></h3>
  </div>

  <% if presenter.partner.events.length == 0 %>
    <p class="panel-body">
      Nincsenek események meghirdetve.
    </p>
  <% else %>
    <%= render(partial: "events/event_list", locals: {presenters: presenter.event_presenters}) %>
  <% end %>
</div>

<% if presenter.is_owner || admin_signed_in? %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Új esemény létrehozása</h3>
    </div>
    <div class="panel-body">
      <%= form_tag new_event_path, method: "get", enforce_utf8: false, class: "form form-inline" do %>
        <div class="form-group">
          <%= label_tag(:event_type, "Esemény típusa:", class: "control-label") %>
          <%= select_tag(:event_type, options_for_select([['Előadás',:presentations],['Tanfolyam',:courses]]), class: "form-control") %>
        </div>
        <%= submit_tag "Létrehozás", name: nil, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="col-xs-12 col-md-6">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h2 class="panel-title">Vélemények</h2>
    </div>
    <div class="panel-body">
      <%= render(partial: "ratings/show_reviews", locals: {ratable_object: presenter.partner, ratable_type: "partner"}) %>
    </div>
  </div>
</div>