<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title">Előadások</h1>
  </div>
  <div class="panel-body">
    <%= event_form.nested_fields_for :presentations do |event| %>
        <p>
          <%= event.remove_nested_fields_link "Előadás eltávolítása", class: "btn btn-warning btn-xs" %>
        </p>
        <%= render partial: "events/form", locals: {presenter: Events::PresentationPresenter.new(event.object),
                                                    event_form: event, partner_id: partner_id } %>
        <hr/>
    <% end %>
    <%= event_form.add_nested_fields_link :presentations, "Új előadás", class: "btn btn-warning btn-xs" %>
  </div>
</div>

