<li class="list-group-item">
  <%= render(partial: "events/index", locals: {presenter: presenter,
                                               main_path: events_course_path(presenter.event),
                                               edit_path: edit_events_course_path(presenter.event)}) %>
  <a class="course-list-expand" href="#course-<%= presenter.event._id %>" data-toggle="collapse"><%= I18n.t 'labels.general.more' %>...</a>
</li>
<ol id="course-<%= presenter.event._id %>" class="list-group collapse">
  <% presenter.event.presentations.each do |course_event| %>
    <li class="list-group-item">
      <%= render(partial: "events/index", locals: {presenter: Events::Courses::PresentationPresenter.new(course_event),
                                                   main_path: events_courses_presentation_path(course_event),
                                                   edit_path: edit_events_courses_presentation_path(course_event)}) %>
    </li>
  <% end %>
</ol>