<div class="panel panel-<%= color %>">
  <div class="panel-heading">
    <h2 class="panel-title">Előadások</h2>
  </div>
  <div class="panel-body">
    <% if event.presentations.nil? || event.presentations.empty? %>
      <p>
        Ehhez a tanfolyamhoz nincsenek előadások meghirdetve.
      </p>
    <% else %>
      <ol class="list-group">
        <% event.presentations.each do |pres| %>
          <li class="list-group-item"><%= link_to pres.title, events_courses_presentation_path(pres) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

