<div class="page-header">
  <h1>Headquarters <small>Where the fun begins</small></h1>
</div>
<ul class="list-group">
  <li class="list-group-item"><%= link_to "User manager", user_manager_path %></li>
  <li class="list-group-item"><%= link_to "Partner manager", partner_manager_path(partner_id) %></li>
  <li class="list-group-item"><%= link_to "Event manager", event_manager_path %></li>
  <li class="list-group-item"><%= link_to "Quest manager", quest_manager_path %></li>
  <li class="list-group-item">
    <a href="#change-password" data-toggle="collapse">Change Password</a>
    <%= form_for(:admin, url: change_admin_password_path, method: :patch, html: {id: "change-password",class: "form form-horizontal collapse"}) do |f| %>
      <div class="form-group">
        <%= f.label :current_password, "Old password", class: "control-label col-xs-3" %>
        <div class="col-xs-4">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, "New password", class: "control-label col-xs-3" %>
        <div class="col-xs-4">
          <%= f.password_field :password, auto_complete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password", class: "control-label col-xs-3" %>
        <div class="col-xs-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <%= f.submit "Change password", class: "btn btn-primary col-xs-offset-3" %>
    <% end %>
  </li>
</ul>