<p>
<%= form_tag(confirm_single_user_path(occ),{method: :patch, remote: true}) do %>
	<%= label_tag(:username, I18n.t('labels.users.username')) %>
	<%= text_field_tag(:username, "", {id: "new_user_box"}) %>
	<%= check_box_tag(:pay_with_credit) %>
	<%= label_tag(:pay_with_credit, I18n.t('labels.occurrence.pay_with_credit')) %>
	<%= submit_tag(I18n.t('labels.general.confirm')) %>
<% end %>
</p>