<ul id="<%= id %>">
<% unless participations.empty? %>
	<% participations.each do |p| %>
		<%= render(partial: "user_list_item", locals: {participation: p, occ: occ, link: link}) %>
	<% end %>
<% end %>
</ul>