<li id="<%= participation.user._id %>">
<p>
<%= "#{participation.user.username}(#{participation.user.credit})" %>
<% 
	case link
	when :confirm
%>
	<%= form_tag(confirm_single_user_path(occ),{method: :patch, remote: true}) do %>
		<%= hidden_field_tag(:participation_id, participation._id) %>
		<% unless participation.status == :prepaid %>
				<%= check_box_tag(:pay_with_credit) %>
				<%= label_tag(:pay_with_credit, I18n.t('labels.occurrence.pay_with_credit')) %>
		<% end %>
		<%= submit_tag(I18n.t('labels.general.confirm')) %>
	<% end %>
<% when :unconfirm %>
 -  <%= form_tag(undo_confirmation_path(occ),{method: :patch, remote: true}) do %>
        <%= hidden_field_tag(:participation_id, participation._id) %>
        <%= submit_tag(I18n.t('labels.general.undo')) %>
    <% end %>
<% end %>
</p>
</li>