<h1><%= @occ.presentation.title %></h1>
<p><%= @occ.presentation.description %></p>
<h2><%= I18n.l(@occ.date) %></h2>
<h3>Jelentkezett felhasználók</h3>
<% unless @pending_users.empty? %>
	<p>
	<%= form_tag(confirm_list_path(@occ),{method: :patch, remote: true}) do %>
		<% @pending_users.each do |participation| %>
			<p id="<%= participation.user_id %>">
				<%= check_box_tag("users[]",participation._id) %>
				<%= label_tag(participation._id, participation.user.username) %>
			</p>
		<% end %>
		<%= submit_tag(I18n.t('labels.general.submit')) %>
	<% end %>
	</p>
<% end %>
<%= render(partial: "new_user_form", locals: {occ: @occ}) %>
<h3>Regisztrált felhasználók</h3>
<%= render(partial: "user_list", locals: {participations: @confirmed_users, occ: @occ, link: :unconfirm, id: "confirmed"}) %>

<%= link_to(I18n.t("labels.occurrence.finalize"), finaliza_occurrence_path(@occ)) %>
<%= link_to("Vissza az eseményhez", event_path(@occ.presentation)) %>