<h1><%= @occ.event.title %></h1>
<p><%= @occ.event.description %></p>
<p>Ár: <%= @occ.event.price %> Cr</p>
<h2><%= I18n.l(@occ.date) %></h2>
<h3>Fizetett felhasználók</h3>
<%= render(partial: "user_list", locals: {participations: @paid_users, occ: @occ, link: :confirm, id: "prepaid"}) %>
<h3>Érdeklődő felhasználók</h3>
<%= render(partial: "user_list", locals: {participations: @going_users, occ: @occ, link: :confirm, id: "going"}) %>
<%= render(partial: "new_user_form", locals: {occ: @occ}) %>
<h3>Regisztrált felhasználók</h3>
<%= render(partial: "user_list", locals: {participations: @confirmed_users, occ: @occ, link: :unconfirm, id: "confirmed"}) %>

<%= link_to(I18n.t("labels.occurrence.finalize"), finaliza_occurrence_path(@occ), method: :patch) %>
<%= link_to("Vissza az eseményhez", event_path(@occ.event)) %>