<% participation.each do |p| %>
	$("#<%= p.user_id %>").remove()
	$("#confirmed").append("<%= escape_javascript(render(partial: 'user_list_item', locals: {participation: p, occ: @occ, link: :unconfirm})) %>")
<% end %>