<% if presenter.changed == :moved %>
	$("#<%= presenter.participation.user_id %>").remove()
<% end %>

<% unless presenter.changed == :no %>
	$("#confirmed").append("<%= escape_javascript(render(partial: 'user_list_item', locals: {participation: presenter.participation, occ: presenter.occ, link: :unconfirm})) %>")
<% end %>

$("#error").text("<%= escape_javascript(presenter.error) %>")
$("#new_user_box").val("")