list = $('#occ_<%= presenter.occ._id %> ul')
info = $('#occ_<%= presenter.occ._id %> .event-notice')

<% unless presenter.changed == :no %>
  <%= render(partial: "events/occurrences/subscriptions/" + presenter.changed.to_s, locals: {presenter: presenter}) %>
	$('#credit').text('<%= presenter.user.credit %>')
	link = $('#sublink_<%= presenter.occ._id %>')
	link.html('<%= escape_javascript(get_event_subscription_link(presenter.occ)) %>')
<% end %>