$("#<%= presenter.participation.user_id %>").remove()
$("#<%= presenter.participation.status %>").append("<%= escape_javascript(render(partial: 'user_list_item', locals: {participation: presenter.participation, occ: @occ, link: :confirm})) %>")