<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title">Alkalmak</h2>
  </div>
  <div class="panel-body">
    <%= event_form.nested_fields_for :future_occurrences do |occ| %>
      <div class="form-group form-group-sm">
        <div class="col-sm-2">
          <%= occ.label :date, class: "control-label" %>
        </div>
        <div class="col-sm-3">
          <div class="input-group date" id="datetimepicker-__nested_field_for_replace_with_index__" data-provide="datetimepicker" data-date-startdate="<%= Date.current %>">
            <% date = occ.object.date %>
            <%= occ.datetime_field :date, class: "form-control text-right", value: date.nil? ? "" : l(date) %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar "></span>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <%= occ.label :location, class: "control-label" %>
        </div>
        <div class="col-sm-3">
          <%= occ.text_field :location, class: "form-control" %>
        </div>

        <%= occ.remove_nested_fields_link "Törlés", class: "btn btn-warning btn-xs" %>
      </div>
    <% end %>
    <p>
      <%= event_form.add_nested_fields_link :future_occurrences, "Új alkalom", class: "btn btn-warning btn-xs" %>
    </p>
  </div>
</div>
