<li class="list-group-item">
  <%= render(partial: "events/index", locals: {presenter: presenter,
                                               main_path: events_presentation_path(presenter.event),
                                               edit_path: edit_events_presentation_path(presenter.event)}) %>
</li>