<section class="pc-section">
  <div class="pc-section-inner">
    <h2 class="event-section-heading"><span class="icon-left-line"></span> Alkalmak</h2>
    <div id="occurrence-container">
      <% if event.occurrences.nil? || event.occurrences.empty? %>
        <p>Ehhez az előadáshoz nincsenek alkalmak meghirdetve.</p>
      <% else %>
        <% event.occurrences.sort_by(&:date).each do |occ| %>
          <div id="occ_<%= occ._id %>" class="event-occurrance">
            <h3 class="pc-heading pc-teal"><%= l occ.date %></h3>
            <p class="occurrence-info">Hely: <%= occ.location %></p>
            <p class="occurrence-info"><%= image_tag("people.png", alt: "Emberek ikon", width: "40", height: "32") %> Jelentkezett felhasználók</p>
            <% if occ.participations.nil? || occ.participations.empty? %>
              <p class="event-notice">Még nem jelentkezett senki.</p>
            <% end %>

            <% if me?(occ.partner) && occ.finalized == false %>
              <div class="flex-container">
                <%= link_to(I18n.t('labels.occurrence.checkin'), checkin_path(occ), class: "pc-button pc-teal") %>
                <%= link_to(I18n.t('labels.occurrence.review'), checkin_list_path(occ), class: "pc-button pc-teal") %>
              </div>
            <% end %>

            <ul class="occurrence-user-list flex-container">
              <% occ.participations.sort_by{|u| u.username.downcase}.each do |participation| %>
                <li class="user_<%= participation.user._id %> event-user">
                  <%= link_to(participation.user.username, user_path(participation.user)) %>
                </li>
              <% end %>
            </ul>
            <% unless occ.finalized %>
              <%= get_event_subscription_link(occ) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>