<p class="alert alert-info">
  <% course = event.course %>
  Ez az előadás a(z) <%= link_to(course.title, events_course_path(course)) %> tanfolyam része.
</p>
<%= render(partial: "events/presentations/show", locals: {event: event}) %>
