<h1 class="page-header"><%= @user.username %></h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Alap adatok</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <p class="col-xs-8 col-sm-6 col-md-4">Szint</p>
      <p class="col-xs-4 col-sm-6 col-md-4"><%= @user.level %></p>
    </div>
    <div class="row">
      <p class="col-xs-8 col-sm-6 col-md-4">TapasztalatiPont(TP)</p>
      <p class="col-xs-4 col-sm-6 col-md-4"><%= @user.xp %></p>
    </div>
    <div class="row">
      <p class="col-xs-8 col-sm-6 col-md-4">Kredit</p>
      <p class="col-xs-4 col-sm-6 col-md-4"><%= @user.credit %></p>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Alap adatok', user_path(@user) %></li>
    <li><%= link_to "Küldetések", user_quests_path(@user) %></li>
  </ul>
</nav>