<section class="pc-section">
  <div class="pc-section-inner">
    <%= image_tag("default_profile.png", alt: "Profilkép", id: "profile-pic") %>
    <div id="profile-properties">
      <div class="flex-container">
        <p class="profile-label">Kódnév</p>
        <p class="profile-str-value pc-dark-teal"><%= user.username %></p>
        <p class="profile-label">Szint</p>
        <p class="profile-num-value pc-dark-teal"><%= user.level %></p>
      </div>
      <div class="flex-container">
        <p class="profile-label">MBTI class</p>
        <p class="profile-str-value pc-dark-teal">Nincs</p>
        <p class="profile-label">Kredit</p>
        <p class="profile-num-value pc-dark-teal"><%= user.credit %></p>
      </div>
      <div class="flex-container">
        <p class="profile-label">Keirsey class</p>
        <p class="profile-str-value pc-dark-teal">Nincs</p>
        <p class="profile-label">InCenter class</p>
        <p class="profile-num-value pc-dark-teal">Nincs</p>
      </div>
    </div>

    <div id="profile-main">
      <ul id="profile-nav">
        <%= get_user_nav_link("personal", user, subpage) %>
        <%= get_user_nav_link("psychological", user, subpage) %>
        <% get_user_nav_link("physical", user, subpage) # Not shown because of the missing leading = sign %>
        <%= get_user_nav_link("skill", user, subpage) %>
        <%= get_user_nav_link("quest", user, subpage) %>
      </ul>
      <div id="profile-details">
        <% if subpage %>
          <%= render(partial: "users/subpages/#{subpage}", locals: {user: user, level_data: level_data}) %>
        <% end %>
      </div>
    </div>
  </div>
</section>