<%= form_tag(admin_select_partner_path, method: :post, class: "form form-horizontal") do %>
  <div class="row form-group">
    <%= label_tag(:id, "Email or name:", class: "col-xs-4 col-sm-2 control-label") %>
    <div class="col-xs-8 col-sm-6">
      <%= text_field_tag(:id, "", class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag("Select partner", class: "btn btn-primary") %>
  </div>
<% end %>