<div class="row">
  <div class="col-xs-2">Name:</div>
  <div class="col-xs-10 col-sm-4"><%= link_to(partner.name, partner_path(partner)) %></div>
  <div class="col-xs-2">Email:</div>
  <div class="col-xs-10 col-sm-4"><%= partner.email %></div>
</div>
<div class="row">
  <div class="col-xs-2">Rating:</div>
  <div class="col-xs-10 col-sm-4"><%= rating.value %>/5.0</div>
</div>
<%= link_to "Deselect", admin_deselect_partner_path, method: :patch %>