<section class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Selected partner</h2>
  </div>
  <div class="panel-body" id="partner-details">
    <% if partner %>
      <%= render(partial: "admin/partner_manager/selected_partner/partner_details",
                 locals: {partner: partner, rating: rating}) %>
    <% else %>
      <p>No partner selected. Select one below.</p>
      <%= render(partial: "admin/partner_manager/selected_partner/form") %>
    <% end %>
  </div>
</section>