<%= form_for(:partner, url: session_path(:partner), html: {class: "flex-form collapse", id: "partner-login-form"}) do |f| %>
  <ul>
    <li>
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, {autofocus: true, placeholder: "Email cím"} %>
    </li>
    <li>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, {autocomplete: "off", placeholder: "Jelszó"} %>
    </li>
  </ul>

  <%= f.submit "Bejelentkezés", class: "pc-button pc-ocean" %>
    <a class="pc-button pc-ocean" data-target="#partner-login-form" data-toggle="collapse">Elrejtés</a>
<% end %>