<%= form_for(:user, url: registration_path(:user), html: {class: "flex-form collapse", id: "user-registration-form"}) do |f| %>
  <p class="centered-content text-center">
    Ha Partnerként szeretnél csatlakozni oldalunkhoz, kérlek vedd fel velünk a kapcsolatot a
    <strong class="pc-teal-inverse">contact@psycraft.hu</strong> email címen!
  </p>
  <h2>Regisztráció felhasználóként</h2>
  <ul>
    <li>
      <%= f.label :username, class: "sr-only" %>
      <%= f.text_field :username, placeholder: "Felhasználónév" %>
    </li>
    <li>
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, placeholder: "Email" %>
    </li>
    <li>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Jelszó" %>
    </li>
    <li>
      <%= f.label :password_confirmation, class: "sr-only" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Jelszó újra" %>
    </li>
  </ul>

  <%= f.submit "Regisztrálok", class: "pc-button pc-blue" %>
  <a class="pc-button pc-blue" data-target="#user-registration-form" data-toggle="collapse">Elrejtés</a>
<% end %>