<%= form_for(:user, url: session_path(:user), html: {class: "flex-form collapse", id: "user-login-form"}) do |f| %>
  <ul>
    <li>
      <%= f.label :login_id, class: "sr-only" %>
      <%= f.text_field :login_id, {autofocus: true, placeholder: "Email vagy felhasználonév"} %>
    </li>
    <li>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, {autocomplete: "off", placeholder: "Jelszó"} %>
    </li>
  </ul>

  <%= f.submit "Bejelentkezés", class: "pc-button pc-teal" %>
    <a class="pc-button pc-teal" data-target="#user-login-form" data-toggle="collapse">Elrejtés</a>
<% end %>