<% unless client_signed_in? %>
  <section id="about">
    <div id="container-outer" class="centered-content pc-transparent">
      <div id="container-inner">
        <%= image_tag("psycraft_logo_color.png", alt: "Logo") %>
        <div id="content">
          <div id="welcome">
            <h2>KEDVES LÁTOGATÓ!</h2>
            <p>
              Üdvözlünk a PsyCraft webes applikáció főoldalán. Örülönk, hogy idetaláltál (még ha csak véletlenül is).
              Jelenleg az oldalunk teszt verzióját látod, ugyanis még gőzerővel dolgozunk azon, hogy mind funkcionalitásban,
              mind kinézetben teljes lehessen.
            </p>
          </div>
          <div id="sign-in">
            <button class="pc-button pc-teal" data-target="#user-login-form" data-toggle="collapse">BEJELENTKEZÉS FELHASZNÁLÓKÉNT</button>
            <%= render(partial: "user_login_form") %>

            <button class="pc-button pc-ocean" data-target="#partner-login-form" data-toggle="collapse">BEJELENTKEZÉS PARTNERKÉNT</button>
            <%= render(partial: "partner_login_form") %>

            <h3>MÉG NINCS FIÓKOD?</h3>
            <button class="pc-button pc-blue" data-target="#user-registration-form" data-toggle="collapse">REGISZTRÁLJ!</button>
            <%= render(partial: "registration_form") %>
          </div>
        </div>
        <h3 id="more-text"><span class="icon-left-line-11"></span> TÖBBET SZERETNÉL TUDNI?</h3>
        <p>Görgess lejjebb!</p>
      </div>
    </div>
  </section>
<% end %>

<section id="us" class="centered-content">
  <span class="icon-up-line"></span>
  <h2>RÓLUNK</h2>
  <p class="text-center">
    A PsyCraft az In Center projektet támogató, annak keretein belül létrejövő online játék, ahol könnyen hozzáférhetsz
    pszichológiai és mentálhigiénés tartalmú előadásokhoz, workshopokhoz. Ha még nem hallottál rólunk, akkor itt bővebb
    információkat találsz:
  </p>
  <a href="http://www.incenter.hu" target="_blank" class="pc-button pc-teal">IN CENTER</a>
</section>

<section id="infos" class="pc-transparent">
  <%= image_tag("library.jpg", alt: "Főoldal kép") %>
  <div id="infos-content">
    <h2><span class="icon-left-line-11"></span> TUDNIVALÓK</h2>
    <p>
      Mint korábban is emlitettük ez egy teszt oldal, ahol az éppen aktuális állapotot teszteljük. Bátran próbáld ki az
      összes lehetőséget, amit kinálunk! Regisztrálj felhasználóként vagy szolgáltatásokat nyújtó partnerként. Hozz
      létre eseményeket, hirdess meg alkalmakat, kommentelj, stb. Fontos, hogy jelenleg a funkciók fejlesztésére,
      bővitésére helyezzük a hangsúlyt.
    </p>
    <h3>ÉSZREVÉTELED, VÉLEMÉNYED VAN AZ OLDALLAL KAPCSOLATBAN?</h3>
    <p>
      Bátran vedd fel velünk a kapcsolatot, jelezd akár kommentben az oldalon, vagy írj egy e-mailt a
      <strong class="pc-teal-inverse">feedback@psycraft.hu</strong> e-mail cimre
      <small>(tárgyként kérlek "PsyCraft feedback" szöveget használd)</small>.
    </p>
    <p>
      Köszönjük közreműködésedet, hogy segitesz az oldalt jobbá, könnyebben használhatóvá tenni! Fontos számunkra a
      visszajelzésed, mivel ezt az oldalt Neked fejlesztjük, hogy segitségével Te tudd magad fejleszteni!
    </p>
    <p>Üdvözlettel, In Center és PsyCraft csapat!</p>
  </div>
</section>