<%= event_form.hidden_field :partner, value: partner_id %>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title">Alap adatok</h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-sm-2">
        <%= event_form.label :title, class: "control-label" %>
      </div>
      <div class="col-sm-4">
        <%= event_form.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= event_form.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-4">
        <%= event_form.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= event_form.label :price, class: "control-label" %>
      </div>
      <div class="col-sm-2">
        <%= event_form.text_field :price, class: "form-control text-right" %>
      </div>
      <span>Ft</span>
    </div>
  </div>
</div>

<%=	render partial: "events/#{presenter.model}/edit", locals: {event_form: event_form, partner_id: partner_id} %>