<%= link_to presenter.event.title, main_path %>
<% if me? presenter.event.partner %>
    <%= link_to I18n.t('labels.general.edit'), edit_path %>,
    <%= link_to I18n.t('labels.general.delete'), event_path(presenter.event),
                method: :delete,
                data: { confirm: "Biztosan törölni szeretnéd ezt az eseményt?" } %>
<% end %>