<h1 class="page-header">Esemény módosítása</h1>
<%= form_for presenter.event, url: main_path, method: :patch, html: {class: "form-horizontal"} do |f| %>
	<%= render(partial: "events/form", locals: {presenter: presenter, event_form: f, partner_id: partner_id}) %>

  <div class="form-group">
    <%= f.submit I18n.t("labels.general.save"), class: "btn btn-warning" %>
  </div>
<% end %>
<%= link_to I18n.t("labels.general.cancel"), partner_path(partner_id), class: "btn btn-warning" %>
