<h1 class="page-header">Új esemény</h1>
<%= form_for presenter.event, html: {class: "form-horizontal"} do |f| %>

	<%= render(partial: "events/form", locals: {presenter: presenter, event_form: f, partner_id: partner_id}) %>

  <div class="form-group">
	  <%= f.submit I18n.t("labels.general.create"), class: "btn btn-warning" %>
  </div>
<% end %>
<%= link_to I18n.t("labels.general.cancel"), partner_path(partner_id), class: "btn btn-warning" %>
