<section class="pc-section">
  <div class="pc-section-inner">
    <h1 id="event-heading" class="pc-heading pc-teal font-bold">
      <%= presenter.event.title %>
      <% if me? presenter.event.partner %>
          <%= link_to(I18n.t('labels.general.edit'), edit_path, class: "pc-teal") %>
      <% end %>
    </h1>
    <h2 class="event-section-heading"><span class="icon-left-line"></span> Alap adatok</h2>
    <div id="event-info">
      <div class="row">
        <div class="col-sm-2 font-light">Szervező</div>
        <div class="col-sm-10 font-bold">
          <%= link_to presenter.event.partner.name, partner_path(presenter.event.partner) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 font-light">Leírás</div>
        <div class="col-sm-10 font-bold">
          <%= presenter.event.description %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 font-light">Ár</div>
        <div class="col-sm-10 font-bold">
          <%= "#{presenter.event.price} Ft (#{presenter.event.price_in_credit} Kredit)" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 font-light">Értékelés</div>
        <div class="col-sm-10">
          <%= render(partial: "ratings/show_rating", locals: {rating: presenter.rating}) %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "events/#{presenter.model}/show", locals: {event: presenter.event} %>

<section class="pc-section">
  <div class="pc-section-inner">
    <h2 class="event-section-heading">
      <span class="icon-left-line"></span> Hozzászólások
      <%= image_tag("comments.png", alt: "Komment ikon", width: "40", height: "32") %>
    </h2>
    <div class="event-content">
      <div id="comments">
        <% if presenter.event.comments.nil? || presenter.event.comments.empty? %>
          <p class="event-notice">Még nincsenek hozzászólások. Légy Te az első!</p>
        <% else %>
          <% presenter.event.comments.each do |comment| %>
            <%= render partial: "comments/show", locals: {event: presenter.event, comment: comment} %>
          <% end %>
        <% end %>
      </div>
      <% if authorized? %>
        <%= render(partial: "comments/form", locals: {presenter: presenter, comment: comment}) %>
      <% end %>
    </div>
  </div>
</section>

<section class="pc-section">
  <div class="pc-section-inner">
    <h2 class="event-section-heading">
      <span class="icon-left-line"></span> Vélemények
      <%= image_tag("star.png", alt: "Vélemény ikon", width: "24", height: "24") %>
    </h2>
    <div class="event-content">
      <%= render(partial: "ratings/show_reviews", locals: {ratable_object: presenter.event, ratable_type: "event"}) %>
    </div>
  </div>
</section>