<%= form_for(Rating.new, url: rating_path, method: :post, remote: true, html: {class: "form form_horizontal", id: "rating-form"}) do |f| %>
  <%= f.hidden_field(:ratable_type, value: ratable_type) %>
  <%= f.hidden_field(:ratable_id, value: ratable_id) %>
  <div class="rating-form">
    <% (1..5).each do |num| %>
      <%= label_tag("rating_value_#{num}", "", class: "rating-form-star") %>
      <%= f.radio_button(:value, num.to_s, class: "rating-form-radio") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label(:review, "Vélemény (opcionális)", class: "control-label") %>
    <%= f.text_area(:review, id: "rating-review", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.submit("Küldés", class: "pc-button pc-teal") %>
  </div>
<% end %>