<% if can_review?(ratable_object) %>
    <%= render(partial: "ratings/form", locals: {ratable_id: ratable_object._id, ratable_type: ratable_type}) %>
<% end %>
<div id="rating-reviews">
  <% ratable_object.ratings.each do |r| %>
      <%= render(partial: "ratings/show_review_item", locals: {rating: r}) %>
  <% end %>
</div>