<div id="rating">
  <div class="star-ratings-sprite"><span style="width:<%= rating.percent %>%" class="star-ratings-sprite-rating"></span></div>
  <%= "#{rating.value}/5 (#{rating.count} értékelés)" %>
</div>