$('#rating-form').hide();
$('#rating-reviews').append('<%= j render(partial: "ratings/show_review_item", locals: {rating: new_rating}) %>');
$('#rating').html('<%= j render(partial: "ratings/show_rating", locals: {rating: rating_aggr}) %>')