var hideEmpty = function(elem) {
    if(elem.text() == '') {
        elem.hide();
    } else {
        elem.show();
    }
};

var updateNoticeAndError = function(){
    hideEmpty($('#notice'));
    hideEmpty($('#error'));
};

$(document).on('ready turbolinks:load ajax:success', updateNoticeAndError);

$(document).on('turbolinks:load', function(){
   $('.course-list-expand').click(function(){
      $(this).text($(this).text() == '<%= "#{I18n.t('labels.general.more')}..." %>' ?
                                     '<%= "#{I18n.t('labels.general.less')}..." %>' :
                                     '<%= "#{I18n.t('labels.general.more')}..." %>');
   });
});