<div id="profile-stats">
  <div class="profile-stat-label-col">
    <span class="profile-stat-label">Tudásbázis</span>
    <span class="profile-stat-label">Önismeret</span>
    <span class="profile-stat-label">Összes XP</span>
  </div>

  <div class="profile-stat-progress-col">
    <div class="profile-progress-container">
      <div class="profile-progress-bar" style="width: <%= level_data.knowledge_pct %>;"></div>
    </div>
    <div class="profile-progress-container">
      <div class="profile-progress-bar" style="width: <%= level_data.self_knowledge_pct %>;"></div>
    </div>
    <div class="profile-progress-container">
      <div class="profile-progress-bar" style="width: <%= level_data.xp_pct %>;"></div>
    </div>
  </div>

  <div class="profile-stat-levelup-col">
    <span class="profile-levelup"><%= "#{level_data.knowledge_status}" %></span>
    <span class="profile-levelup"><%= "#{level_data.self_knowledge_status}" %></span>
    <span class="profile-levelup"><%= "#{level_data.xp_status}" %></span>
  </div>
</div>