<div id="profile-stats">
  <div class="profile-stat-label-col">
    <span class="profile-stat-label">Extraverzió</span>
    <span class="profile-stat-label">Nyitottság</span>
    <span class="profile-stat-label">Barátságosság</span>
    <span class="profile-stat-label">Lelkiismeretesség</span>
    <span class="profile-stat-label">Neurotizmus</span>
  </div>

  <div class="profile-stat-progress-col">
    <div class="profile-point-container">
      <% user.psychology.extraversion.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.psychology.openness.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.psychology.friendlyness.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.psychology.exactitude.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.psychology.neuroticism.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
  </div>

  <div class="profile-stat-levelup-col">
    <span class="profile-levelup">Szint: <%= user.psychology.extraversion %></span>
    <span class="profile-levelup">Szint: <%= user.psychology.openness %></span>
    <span class="profile-levelup">Szint: <%= user.psychology.friendlyness %></span>
    <span class="profile-levelup">Szint: <%= user.psychology.exactitude %></span>
    <span class="profile-levelup">Szint: <%= user.psychology.neuroticism %></span>
  </div>
</div>