<% if me? user %>
  <p>
    Küldetéseim láthatósága: <span id="quest_visibility_label"><%= get_quest_visibility user %></span>
    - <%= link_to(I18n.t('labels.general.change'), user_quest_visibility_path(user), {method: :patch, remote: true}) %>
  </p>
<% end %>

<% if not(me?(user)) and not(user.quest_public) %>
  <p>
    A felhasználó küldetései nem publikusak számodra.
  </p>
<% else %>
  <ol class="list-group">
    <% ::Quests::Quest.all.each do |q| %>
      <li id="quest_<%= q._id %>" class="list-group-item">
        <%= link_to q.title, quest_path(q) %>
        <% if me? user %>
          <%= get_quest_assign_link(q) %>
        <% else %>
          <%= get_quest_assign_status(user, q) %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>