<div id="profile-stats">
  <div class="profile-stat-label-col">
    <span class="profile-stat-label">Stressztűrés</span>
    <span class="profile-stat-label">Szorongás</span>
    <span class="profile-stat-label">Életelégedettség</span>
    <span class="profile-stat-label">Élménykeresés</span>
    <span class="profile-stat-label">Y-séma kérdőív</span>
    <span class="profile-stat-label">Együttműködés</span>
    <span class="profile-stat-label">Konfliktuskezelés</span>
    <span class="profile-stat-label">Tanulási stílus</span>
    <span class="profile-stat-label">Kötődési stílus</span>
    <span class="profile-stat-label">Asszertivitás</span>
  </div>

  <div class="profile-stat-progress-col">
    <div class="profile-point-container">
      <% user.skill.resilience.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.anxiety.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.satisfaction.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.experiencepursuance.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.yschema.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.cooperativeness.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.conflicthandling.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.learningstyle.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.bondingstyle.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
    <div class="profile-point-container">
      <% user.skill.assertivity.times do %>
          <span class="icon-square"></span>
      <% end %>
    </div>
  </div>

  <div class="profile-stat-levelup-col">
    <span class="profile-levelup">Szint: <%= user.skill.resilience %></span>
    <span class="profile-levelup">Szint: <%= user.skill.anxiety %></span>
    <span class="profile-levelup">Szint: <%= user.skill.satisfaction %></span>
    <span class="profile-levelup">Szint: <%= user.skill.experiencepursuance %></span>
    <span class="profile-levelup">Szint: <%= user.skill.yschema %></span>
    <span class="profile-levelup">Szint: <%= user.skill.cooperativeness %></span>
    <span class="profile-levelup">Szint: <%= user.skill.conflicthandling %></span>
    <span class="profile-levelup">Szint: <%= user.skill.learningstyle %></span>
    <span class="profile-levelup">Szint: <%= user.skill.bondingstyle %></span>
    <span class="profile-levelup">Szint: <%= user.skill.assertivity %></span>
  </div>
</div>