if(list[0].children.length == 0)
{
  info.remove();
}

list.append("<li class='user_<%= presenter.user._id %> event-user'><%= escape_javascript(link_to(presenter.participation.user.username, user_path(presenter.participation.user))) %></li>")