#event-heading {
    display: inline-block;
    margin: 10px 0 20px 0;
}

#event-heading > a {
    margin-left: 50px;
}

.event-section-heading {
    font-size: 24px;
    margin: 0 0 15px -20px;
    text-align: left;
}

#event-info {
    position: relative;
    left: 45px;
}

#event-info > .row {
    margin: 10px 0px;
}

@media screen and (min-width: 721px) {
    #occurrence-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (max-width: 720px) {
    #occurrence-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

h3 {
    margin-top: 0px;
}

.event-occurrance {
    min-width: 250px;
    padding: 0px;
    border: 1px solid #e3e3e3;
    margin: 10px 0;
}

.occurrence-info {
    margin: 10px 20px;
    color: #00d6d6;
}

.occurrence-user-list {
    padding: 0 20px;
}

.event-user {
    display: inline-block;
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 5px 15px;
}

.event-notice {
    background-color: #e3e3e3;
    padding: 25px;
}

.event-content {
    padding: 0 45px;
}