#about {
  background: image-url("landing_header.jpg") repeat;
  background-size: cover;
  padding: 80px 0;
}

#container-outer {
  margin: 0 auto;
  padding: 20px;
}

#container-inner {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0 20px 30px;
}

#container-inner img {
  height: 70px;
  width: 300px;
  margin-bottom: 30px;
  margin-left: 10px;
}

#content {
  display: flex;
}

#welcome {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: -60px;
  width: 65%;
  height: 220px;
}

#welcome h2, #welcome p {
  padding-left: 60px;
  padding-right: 20px;
}

#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#sign-in button, #sign-in a, #us a {
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid #09ecec;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#sign-in form {
  margin: 15px 0;
  width: 250px;
}

#sign-in form ul {
  padding: 0;
}

#sign-in form a {
  cursor: pointer;
}

#sign-in h3 {
  margin: 20px 0 10px 0;
}

#container-inner p:nth-child(4) {
  margin-top: 0;
  font-weight: bold;
}

#more-text {
    margin-left: -50px;
}

#us {
  text-align: center;
  width: 100%;
  margin-bottom: 70px;
}

#us h2 {
  margin-top: 30px;
}

#us p {
  margin: 30px auto;
}

#infos img {
  height: 550px;
  width: 600px;
}

#infos {
  display: flex;
  margin: 0 auto;
  max-width: 1380px;
}

#infos-content {
  padding-left: 60px;
  padding-right: 20px;
  max-width: 600px;
}

#infos-content  h2 {
  margin-left: -60px;
}

#infos h3 {
  margin: 10px 0;
}

#infos-content p:nth-child(4) {
  margin-top: 0;
}

footer {
  padding: 25px 0;
  text-align: center;
}