@font-face {
  font-family: 'icomoon';
  src:  image-url('icomoon.eot?h3bxyg');
  src:  image-url('icomoon.eot?h3bxyg#iefix') format('embedded-opentype'),
    image-url('icomoon.ttf?h3bxyg') format('truetype'),
    image-url('icomoon.woff?h3bxyg') format('woff'),
    image-url('icomoon.svg?h3bxyg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square:before {
  content: "\e900";
  color: #00d6d6;
}
.icon-left-line:before {
  content: "\e901";
  color: #00d6d6;
  font-size: 14px;
}
.icon-left-line-11:before {
  content: "\e901";
  color: #00d6d6;
  font-size: 11px;
}
.icon-up-line:before {
  content: "\e902";
  color: #00d6d6;
  font-size: 48px;
}