@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: font-url("Montserrat-Medium.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: font-url("Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: lighter;
    src: font-url("Montserrat-Light.otf") format("opentype");
}

* {
    font-family: Montserrat;
}

.pc-teal {
    background-color: #00d6d6;
    color: white;
}

.pc-teal-inverse {
    color: #00d6d6;
}

.pc-ocean {
    background-color: #3bacc4;
    color: white;
}

.pc-blue {
    background-color: #2b89b1;
    color: white;
}

.pc-dark-teal {
    background-color: #046975;
    color: #00d6d6;
}

.pc-dark-white {
    background-color: #046975;
    color: white;
}

.pc-section {
    margin: 10px 0;
    border: 2px solid #cae7ec;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.pc-section-inner {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 20px 0;
}

.pc-button {
    padding: 10px 20px;
    border: 2px solid #09ecec;
}

.pc-heading {
    font-size: 30px;
    padding: 5px 15px;
}

.button-container {
    margin: 10px;
}

#main-container {
    max-width: 800px;
    min-height: 880px;
    margin: 0 auto;
    padding: 80px 0;
}

.pc-transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.centered-content {
    max-width: 800px;
    margin: 0 auto;
}

.flex-form li {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-form li > label {
    max-width: 250px;
    flex: 1 0 200px;
}

.flex-form li > input {
    border-radius: 3px;
    max-width: 250px;
    flex: 1 0 200px;
}

.flex-form .pc-button {
    justify-self: flex-end;
}