nav {
    width: 100%;
    background: image-url("nav_bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2000;
}

nav ul {
    display: flex;
    margin: 0 50px 0 0;
}

nav li {
    padding: 7px;
}

nav img {
    margin-left: 50px;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    padding: 5px;
    border: 2px solid transparent;
}

.nav-link:hover {
    border: 2px solid white;
    color: white;
    text-decoration: none;
}