#profile-pic {
  float: left;
  margin-left: 10px;
}

#profile-properties {
  background-image: image-url("profile_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  margin: 0 10px 0 100px;
  padding: 10px 60px;
}

#profile-properties p {
  margin: 0 0 2px 0;
}

.profile-label {
  flex: 3 0 120px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.profile-str-value {
  flex: 3 0 80px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}

.profile-num-value {
  flex: 1 0 50px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}

#profile-main {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

#profile-nav {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 0;
  border-left: 2px solid #00d6d6;
}

#profile-nav > li {
  margin: 10px 0;
  padding: 10px 10px;
  background-color: #00d6d6;
  color: white;
  text-align: center;
  font-weight: bold;
}

#profile-nav a {
  color: inherit;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 0; /* Remove spacing from .nav-link */
}

#profile-nav a:hover {
  color: white;
}

#profile-nav > li.active {
  background-color: #046975;
  color: #00d6d6;
}

#profile-details {
  flex: 1 auto;
  margin: 0 10px;
}

#profile-stats {
  display: flex;
  flex-direction: row;
  background: image_url("statistic_bg.jpg") repeat center;
  margin-top: 10px;
  padding: 10px 0;
}

.profile-stat-label-col, .profile-stat-progress-col, .profile-stat-levelup-col{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.profile-stat-label-col, .profile-stat-levelup-col {
  flex: 1 auto;
}

.profile-stat-progress-col {
  flex: 2 0;
}

.profile-stat-label, .profile-point-container, .profile-progress-container, .profile-levelup {
  background-color: #046975;
  color: #00d6d6;
  margin-bottom: 2px;
  padding: 5px 10px;
  height: 32px;
}

.profile-progress-bar {
  height: 16px;
  background-color: #00d6d6;
  border-left: 2px solid #00d6d6;
}