body {
    background: image-url("main_bg.jpg") repeat;
    background-size: cover;
    position: relative;
    padding: 0;
}

p {
    text-align: justify;
}

.text-center {
    text-align: center;
}

ul > li {
    list-style-type: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: lighter;
}

.wide {
    width: 100%;
}

input[type="password"] {
  font:small-caption;font-size:16px
}

/** Legacy code starts here **/

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group-item .glyphicon {
    margin-left: 5px;
}

#user-login, #partner-login, #user-registration {
    padding: 10px;
}

.pct-40 {
    width: 40%;
}

.pct-30 {
    width: 30%;
}

.pct-20 {
    width: 20%;
}

.form-inline {
    padding: 5px;
}

.form-horizontal {
    padding: 15px;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

textarea {
    resize: vertical;
}