.star-ratings-sprite {
    display: inline-block;
    background: image-url("stars.png") repeat-x;
    background-position: 0 -27px;
    font-size: 0;
    height: 27px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 135px;
    margin-right: -20px;
    margin-bottom: -5.4px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    transform-origin: 0 0;
}

.star-ratings-sprite-rating {
     background: image-url("stars.png") repeat-x;
     background-position: 0 0;
     float: left;
     height: 27px;
     display:block;
}

.rating-form {
    width: 135px;
    height: 27px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.rating-form-radio {
    display: none;
}

.rating-form-star {
    display: inline-block;
    background: image-url("stars.png");
    background-position: 0 0;
    height: 27px;
    overflow: hidden;
    width: 27px;
    margin-right: -5.4px;
    margin-bottom: -5.4px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    transform-origin: 0 0;
}

.rating-form-radio:checked ~ .rating-form-star {
    background-position: 0 -27px;
}