<section class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title" data-toggle="collapse" data-target="#add-partner">Add new partner</h2>
  </div>
  <div class="panel-body collapse" id="add-partner">
    <%= form_for(:partner, url: partner_registration_path, method: :post, html: {class: "form form-horizontal"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "control-label col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label col-xs-4" %>
        <div class="col-xs-8">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label col-xs-4" %>
        <div class="col-xs-8">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label col-xs-4" %><br />
        <div class="col-xs-8">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="col-xs-offset-4">
        <%= f.submit "Register", class: "btn btn-primary btn-xs" %>
      </div>
    <% end %>
  </div>
</section>