<section class="panel panel-primary">
  <div class="panel-heading" data-toggle="collapse" data-target="#add-event">
    <h2 class="panel-title">Add new event</h2>
  </div>
  <div class="panel-body collapse" id="add-event">
    <div class="row">
      <%= form_tag new_event_path, method: "get", enforce_utf8: false, class: "form form-inline" do %>
        <div class="form-group">
          <%= label_tag(:event_type, "Esemény típusa:", class: "control-label") %>
          <%= select_tag(:event_type, options_for_select([['Előadás',:presentations],['Tanfolyam',:courses]]), class: "form-control") %>
        </div>
        <%= submit_tag "Létrehozás", name: nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>