<section class="panel panel-primary">
  <div class="panel-heading" data-toggle="collapse" data-target="#all-partners">
    <h2 class="panel-title">All partners</h2>
  </div>
  <div class="panel-body collapse" id="all-partners">
    <ul>
      <% partners.each do |p| %>
        <li class="row">
          <%= link_to(p.name, partner_path(p)) %>
          <%= link_to("Select", partner_manager_path(p)) %>
        </li>
      <% end %>
    </ul>
  </div>
</section>