<section class="panel panel-primary">
  <div class="panel-heading" data-toggle="collapse" data-target="#edit-events">
    <h2 class="panel-title">Edit events</h2>
  </div>
  <div class="panel-body collapse" id="edit-events">
    <div class="row">
      <% events.each do |e| %>
        <div class="col-xs-6 col-sm-4 col-md-3"><%= link_to(e.title, edit_event_path(e)) %></div>
      <% end %>
    </div>
  </div>
</section>