<h1>Manage partners</h1>
<%= render(partial: "admin/partner_manager/all_partners", locals: {partners: partners}) %>
<%= render(partial: "admin/partner_manager/selected_partner/select_partner", locals: {partner: selected_partner, rating: rating}) %>
<%= render(partial: "admin/partner_manager/add_new_partner") %>
<%= render(partial: "admin/partner_manager/add_new_event") if selected_partner %>
<%= render(partial: "admin/partner_manager/edit_events", locals: {events: events}) if selected_partner %>


<%= link_to(I18n.t('labels.general.back'), hq_path) %>