<!DOCTYPE html>
<html>
<head>
  <title>PsyCraft - InCenter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if anyone_signed_in? %>
      <nav class="flex-container flex-center font-bold">
        <%= link_to root_path do %>
          <%= image_tag("psycraft_logo_white.png", alt: "Logo") %>
        <% end %>
        <ul>
          <% if user_signed_in? %>
              <li><%= link_to "PROFILOM", user_path(current_user), class: "nav-link" %></li>
          <% elsif partner_signed_in? %>
              <li><%= link_to "PROFILOM", partner_path(current_partner), class: "nav-link" %></li>
          <% elsif admin_signed_in? %>
              <li><%= link_to "HEADQUARTERS", hq_path, class: "nav-link" %></li>
          <% end %>
          <li><%= link_to 'ESEMÉNYEK', events_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li><%= link_to("KÜLDETÉSEIM", user_quest_path(current_user), class: "nav-link") %></li>
          <% end %>
          <li><%= link_to 'KIJELENTKEZÉS', logout_path, method: :delete, class: "nav-link" %></li>
        </ul>
      </nav>
    <% end %>
  </header>

  <p id="error" class="alert alert-danger"><%= flash[:err] %></p>

  <%= "<div id=\"main-container\">".html_safe unless local_assigns[:disable_main_container] %>
    <%= yield %>
  <%= "</div>".html_safe unless local_assigns[:disable_main_container] %>

  <footer class="pc-teal">
    <p class="text-center">&copy 2016 PsyCraft. All rights reserved.</p>
  </footer>

  <% if Rails.env.development? %>
    <div class="navbar navbar-default navbar-fixed-bottom hidden-xs" id="debug-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to 'DeadPool', new_admin_session_path %></li>
        </ul>

        <span class="navbar-text">New</span>
        <%= form_tag(test_new_user_path, {method: :post, class: "navbar-form navbar-left"}) do %>
          <label class="radio-inline"><%= radio_button_tag(:type, "user", checked: true) %>User</label>
          <label class="radio-inline"><%= radio_button_tag(:type, "partner") %>Partner</label>
          <div class="form-group">
            <%= text_field_tag(:username) %>
          </div>
          <%= submit_tag(I18n.t('labels.general.submit'), class: "btn btn-default") %>
        <% end %>

        <span class="navbar-text">Log in</span>
        <%= form_tag(test_change_user_path, {method: :post, class: "navbar-form"}) do %>
          <div class="form-group">
            <%= text_field_tag(:username) %>
          </div>
          <%= submit_tag(I18n.t('labels.general.submit'), class: "btn btn-default") %>
        <% end %>
      </div>
    </div>
  <% end %>
</body>
</html>
